.news {
  width: 100%;
  height: 100vh;
}

.container {
  width: 80%;
  height: 100%;
  padding: var(--containerPadding);
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 60vh;
  border-radius: var(--borderRadius);
  overflow: hidden;
}

.title {
  margin: 2vw 0;
  font-family: MontserratBold, sans-serif;
  font-size: var(--titleFontSize);
}

.card {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  border-radius: var(--borderRadius);
  color: #092942;
  cursor: pointer;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  border-radius: var(--borderRadius);
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 1.5vw;
}

.cardTitle {
  font-family: MontserratBold, sans-serif;
  font-size: 1.5vw;
  color: var(--accent);
}

.cardDescription {
  font-family: MontserratRegular, sans-serif;
  font-size: 1.2vw;
}

.button {
  font-family: MontserratRegular, sans-serif;
  font-size: 1vw;
  text-align: right;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.navBtn {
  width: 1.5vw;
  height: 1.5vw;
  color: #092942;
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.2vw;
  justify-content: center;
  width: unset !important;
}

.pagination :global(.swiper-pagination-bullet) {
  width: 0.7vw;
  height: 0.7vw;
  background: #092942;
  opacity: 1;
}

.pagination :global(.swiper-pagination-bullet-active) {
  background: var(--accent) !important;
}

@media (width >= 768px) and (width <= 1024px) {
  .container {
    width: 90%;
    height: 100%;
    padding: var(--containerPaddingTablet);
  }

  .swiper {
    width: 100%;
    height: 65dvh;
    border-radius: var(--borderRadiusTablet);
    overflow: hidden;
  }

  .title {
    margin: 5vw 0;
    font-size: var(--titleFontSizeTablet);
  }

  .card {
    border-radius: var(--borderRadiusTablet);
  }

  .imageWrapper {
    border-radius: var(--borderRadiusTablet);
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5em;
    padding: 5vw;
  }

  .cardTitle {
    font-size: 5vw;
  }

  .cardDescription {
    font-size: 4vw;
  }

  .button {
    font-family: MontserratRegular, sans-serif;
    font-size: 3vw;
    text-align: right;
  }

  .navigation {
    gap: 4vw;
    margin-top: 3vw;
  }

  .navBtn {
    width: 5vw;
    height: 5vw;
  }

  .pagination :global(.swiper-pagination-bullet) {
    width: 2vw;
    height: 2vw;
  }
}

@media (width <= 767px) {
  .container {
    width: 90%;
    height: 100%;
    padding: var(--containerPaddingMobile);
  }

  .swiper {
    width: 100%;
    height: 65dvh;
    border-radius: var(--borderRadius);
    overflow: hidden;
  }

  .title {
    margin: 5vw 0;
    font-size: var(--titleFontSizeMobile);
  }

  .card {
    border-radius: var(--borderRadiusMobile);
  }

  .imageWrapper {
    border-radius: var(--borderRadiusMobile);
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5em;
    padding: 5vw;
  }

  .cardTitle {
    font-size: 5vw;
  }

  .cardDescription {
    font-size: 4vw;
  }

  .button {
    font-family: MontserratRegular, sans-serif;
    font-size: 3vw;
    text-align: right;
  }

  .navigation {
    gap: 5vw;
    margin-top: 5vw;
  }

  .navBtn {
    width: 8vw;
    height: 8vw;
  }

  .pagination :global(.swiper-pagination-bullet) {
    width: 3vw;
    height: 3vw;
  }
}

@media (width <= 375px) {
  .swiper {
    height: 60dvh;
  }
}
