.contacts {
  background: var(--backgroundGradient);
}

.container {
  width: 80%;
  height: 100%;
  padding: 3vw 0;
  margin: 0 auto;
}

.contentWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3vw;
  padding-top: var(--wrapperPadding);
  color: white;
}

.content {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: 1vw;
}

.icon {
  width: 2vw;
  height: 2vw;
  color: var(--accent);
}

.text {
  font-family: MontserratRegular, sans-serif;
  font-size: 1.3vw;
}

.mapWrapper {
  display: block;
  width: 90%;
  height: 400px;
  margin-top: 3vw;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.title {
  width: 100%;
  margin: 2vw auto;
  font-family: MontserratBold, sans-serif;
  font-size: var(--titleFontSize);
}

.contactsItems {
  display: flex;
  margin: 0 0 2.5vw;
}

.contactsItemsWrapper {
  margin: 0 0 0 1.7vw;
  font-size: 2vw;
  font-style: normal;
}

.contactsItemsTitle {
  margin: 0 0 1vw;
}

.contactsItemsSubtitle {
  font-size: 1.5vw;
  color: grey;
}

.contactsItemsSubtitle:hover {
  color: white;
}

.socialList {
  display: flex;
  gap: 2vw;
  padding: 0 0 0 3.5vw;
  list-style: none;
}

.socialLink {
  display: grid;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: relative;
  color: black;
  background: white;
  place-items: center;
}

.socialLink:hover {
  background: var(--secondAccent);
}

.socialImage,
.icon {
  width: 2vw;
  height: 2vw;
}

@media (width >= 768px) and (width <= 1024px) {
}

@media (width <= 767px) {
  .container {
    width: 90%;
    padding: 50px 0;
  }

  .contentWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 3vw;
    padding-top: var(--wrapperPadding);
  }

  .content {
    display: flex;
    align-items: center;
    gap: 5vw;
    margin-bottom: 5vw;
  }

  .title {
    margin: 5vw auto;
    font-size: var(--titleFontSizeMobile);
  }

  .text {
    font-size: 4vw;
  }

  .icon {
    width: 5vw;
    height: 5vw;
    color: var(--accent);
  }

  .mapWrapper {
    width: 100%;
    height: 400px;
    margin-top: 3vw;
    border-radius: var(--borderRadiusMobile);
  }
}
