.button {
  padding: 20px 40px;
  border: 1px solid var(--accent);
  border-radius: 10px;
  font-family: MontserratMedium, sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
}

.primary {
  background-color: var(--accent);
}

@media (width >= 768px) and (width <= 1024px) {
}

@media (width <= 767px) {
  .button {
    padding: 15px 40px;
    border: 1px solid var(--accent);
    border-radius: 10px;
    font-size: 15px;
  }
}
