.button {
  padding: 1.1vw 2.2vw;
  border: 1px solid var(--accent);
  border-radius: var(--borderRadius);
  font-family: MontserratBold, sans-serif;
  font-size: 0.95vw;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  transition: background-color 0.5s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.button:hover {
  background-color: #a37b48;
  /* transform: scale(2); */
}

.primary {
  background-color: var(--accent);
}

.primary:hover {
  background-color: #a37b48;
}

@media (width >= 768px) and (width <= 1024px) {
  .button {
    padding: 15px 40px;
    border-radius: var(--borderRadiusTablet);
    font-size: 18px;
  }

  .button:hover {
    background-color: transparent;
  }

  .primary:hover {
    background-color: var(--accent);
  }
}

@media (width <= 767px) {
  .button {
    padding: 15px 40px;
    border-radius: var(--borderRadiusMobile);
    font-size: 15px;
  }

  .button:hover {
    background-color: transparent;
  }

  .primary:hover {
    background-color: var(--accent);
  }
}
