.main {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(23 31 49 / 100%) 41%,
    rgb(45 59 82 / 100%) 100%
  );
  overflow: hidden;
}

/* Картинка */

/* Градієнт + затемнення */
.overlay {
  position: absolute;
  z-index: 2;
  background-image:
    linear-gradient(rgb(185 149 107 / 6%) 3px, transparent 1px),
    linear-gradient(90deg, rgb(185 149 107 / 6%) 3px, transparent 1px);
  background-size: 100px 100px;
  inset: 0;
}

.container {
  width: 1720px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
/* Контент */

.content {
  height: fit-content;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  color: #fff;
}

/* Заголовок */
.title {
  font-family: MontserratBold, sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.02em;
  text-wrap: balance;
}

/* Підзаголовок */
.subtitle {
  margin-bottom: 2vw;
  font-family: MontserratBold, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: var(--accent);
}

/* Текст */
.text {
  max-width: 40vw;
  margin-bottom: 2vw;
  font-family: MontserratRegular, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.9;
}

.buttonsWrapper {
  display: flex;
  gap: 2vw;
  margin-bottom: 4vw;
}
