.main {
  width: 100%;
  height: 100svh;
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(23 31 49 / 100%) 41%,
    rgb(45 59 82 / 100%) 100%
  );
  overflow: hidden;
}

.overlay {
  position: absolute;
  z-index: 2;
  background-image:
    linear-gradient(rgb(185 149 107 / 6%) 3px, transparent 1px),
    linear-gradient(90deg, rgb(185 149 107 / 6%) 3px, transparent 1px);
  background-size: 100px 100px;
  inset: 0;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100svh;
}

.content {
  padding-bottom: 80px;
  z-index: 3;
  color: #fff;
  align-self: end;
}

.title {
  font-family: MontserratBold, sans-serif;
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  margin-bottom: 2vw;
  font-family: MontserratBold, sans-serif;
  font-size: 1.9vw;
  font-weight: 700;
  color: var(--accent);
}

.text {
  margin-bottom: 2vw;
  font-family: MontserratRegular, sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  opacity: 0.9;
}

.buttonsWrapper {
  display: flex;
  gap: 2vw;
}

.infoWrapper {
  display: flex;
  gap: 60px;
  position: absolute;
  right: 0;
  bottom: 80px;
}

.info {
  font-family: MontserratBold, sans-serif;
  text-align: right;
  color: #fff;
}

.infoTitle {
  font-size: 2.5vw;
}

.infoSymbol {
  font-size: 1vw;
  color: var(--accent);
}

.infoText {
  font-size: 0.8vw;
  color: #a7a7a7;
}

@media (width >= 768px) and (width <= 1024px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .content {
    padding-bottom: 50px;
    align-self: start;
    order: 2;
  }

  .title {
    font-size: 78px;
  }

  .subtitle {
    margin-bottom: 5vw;
    font-size: 30px;
  }

  .text {
    margin-bottom: 5vw;
    font-size: 24px;
  }

  .buttonsWrapper {
    display: flex;
  }

  .infoWrapper {
    justify-content: center;
    gap: 100px;
    width: 100%;
    bottom: 40px;
  }

  .info {
    font-family: MontserratBold, sans-serif;
    text-align: right;
    color: #fff;
  }

  .infoTitle {
    font-size: 36px;
  }

  .infoSymbol {
    font-size: 20px;
    color: var(--accent);
  }

  .infoText {
    font-size: 18px;
    color: #a7a7a7;
  }
}

@media (width <= 767px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .content {
    padding-bottom: 50px;
    align-self: start;
    order: 2;
  }

  .title {
    font-size: 45px;
  }

  .subtitle {
    margin-bottom: 5vw;
    font-size: 18px;
  }

  .text {
    margin-bottom: 5vw;
    font-size: 14px;
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-bottom: 6vw;
  }

  .infoWrapper {
    justify-content: space-between;
    width: 100%;
    bottom: 20px;
  }

  .info {
    font-family: MontserratBold, sans-serif;
    text-align: right;
    color: #fff;
  }

  .infoTitle {
    font-size: 24px;
  }

  .infoSymbol {
    font-size: 14px;
    color: var(--accent);
  }

  .infoText {
    font-size: 10px;
    color: #a7a7a7;
  }
}
