.projects {
  width: 100%;
  height: 100vh;
  background: var(--backgroundGradient);
}

.container {
  width: 80%;
  height: 100%;
  padding: var(--containerPadding);
  margin: 0 auto;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10vw;
  margin: 2vw 0;
  color: white;
}

.swiper {
  width: 100%;
  height: 60vh;
  border-radius: var(--borderRadius);
  overflow: hidden;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  border-radius: var(--borderRadius);
  color: white;
  background: #2d3b52;
}

.cardContent {
  padding: 2vw;
}

.infoWrapper {
  display: flex;
  align-items: center;
  gap: 7vw;
  margin: 2vw 0;
  color: white;
}

.title {
  font-family: MontserratBold, sans-serif;
  font-size: var(--titleFontSize);
}

.text {
  font-family: MontserratRegular, sans-serif;
  font-size: 1.2vw;
}

.runk,
.address {
  margin-top: 1.5vw;
  font-family: MontserratRegular, sans-serif;
  font-size: 1.2vw;
}

.role {
  margin-top: 1.5vw;
  font-family: MontserratRegular, sans-serif;
  font-size: 0.8vw;
}

.strong {
  font-family: MontserratBold, sans-serif;
  color: var(--accent);
}

.strongFloors {
  font-size: 3vw;
}

.strongApartments {
  font-size: 3vw;
}

.strongYear {
  font-size: 2vw;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.navBtn {
  width: 1.5vw;
  height: 1.5vw;
  color: white;
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: unset !important;
}

.pagination :global(.swiper-pagination-bullet) {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 1;
}

.pagination :global(.swiper-pagination-bullet-active) {
  background: var(--accent);
}

.swiperCard {
  width: 100%;
  height: 100%;
  border-top-right-radius: var(--borderRadius) var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius) var(--borderRadius);
  position: relative;
  overflow: hidden;
}

.cardNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  color: white;
  background: rgb(0 0 0 / 50%);
  transition: 0.3s;
  cursor: pointer;
}

.icon {
  width: 1.85vw;
  height: 1.5vw;
  position: absolute;
  top: 52%;
  transform: translate(-50%, -50%);
}

.iconLeft {
  left: 48%;
}

.iconRight {
  left: 55%;
}

.cardNav:hover {
  background: rgb(0 0 0 / 80%);
}

.cardPrev {
  left: 20px;
}

.cardNext {
  right: 20px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 3vw;
  margin-left: auto;
  font-family: MontserratMedium, sans-serif;
  font-size: 1.3vw;
  font-weight: 600;
}

.filter {
  width: fit-content;
  position: relative;
  color: white;
  justify-self: end;
}

.activeFilter {
  color: var(--accent);
}

.activeFilter::after {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: var(--accent);
  content: "";
}

@media (width >= 768px) and (width <= 1024px) {
  .container {
    width: 90%;
    padding: var(--containerPaddingTablet);
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    margin: 3vw 0;
    color: white;
  }

  .title {
    font-size: var(--titleFontSizeTablet);
  }

  .filters {
    justify-content: center;
    gap: 5vw;
    width: 100%;
    font-size: 3vw;
  }

  .swiper {
    min-height: 62vh;
    border-radius: var(--borderRadiusMobile);
  }

  .card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    border-radius: var(--borderRadiusMobile);
    color: white;
  }

  .swiperCard {
    border-top-left-radius: var(--borderRadiusMobile) var(--borderRadiusMobile);
    border-top-right-radius: var(--borderRadiusMobile) var(--borderRadiusMobile);
    border-bottom-right-radius: unset;
    order: 1;
  }

  .cardContent {
    padding: 3vw;
    order: 2;
  }

  .text {
    font-size: 2.5vw;
  }

  .runk,
  .address {
    margin-top: 1.5vw;
    font-size: 2.5vw;
  }

  .role {
    margin-top: 3vw;
    font-size: 2.5vw;
  }

  .strong {
    font-family: MontserratBold, sans-serif;
    color: var(--accent);
  }

  .strongFloors {
    font-size: 5vw;
  }

  .strongApartments {
    font-size: 5vw;
  }

  .navigation {
    gap: 4vw;
    margin-top: 5vw;
  }

  .navBtn {
    width: 5vw;
    height: 5vw;
    color: white;
    cursor: pointer;
  }

  .cardNav {
    width: 8vw;
    height: 8vw;
  }

  .icon {
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 52%;
    transform: translate(-50%, -50%);
  }
}

@media (width <= 767px) {
  .container {
    width: 90%;
    padding: var(--containerPaddingMobile);
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    margin: 5vw 0;
    color: white;
  }

  .title {
    font-size: var(--titleFontSizeMobile);
  }

  .filters {
    justify-content: center;
    gap: 8vw;
    width: 100%;
    font-size: 4vw;
  }

  .swiper {
    min-height: 62vh;
    border-radius: var(--borderRadiusMobile);
  }

  .card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    border-radius: var(--borderRadiusMobile);
    color: white;
  }

  .swiperCard {
    border-top-left-radius: var(--borderRadiusMobile) var(--borderRadiusMobile);
    border-top-right-radius: var(--borderRadiusMobile) var(--borderRadiusMobile);
    border-bottom-right-radius: unset;
    order: 1;
  }

  .cardContent {
    padding: 5vw;
    order: 2;
  }

  .text {
    font-size: 3.5vw;
  }

  .runk,
  .address {
    margin-top: 1.5vw;
    font-size: 3.5vw;
  }

  .role {
    margin-top: 3vw;
    font-size: 3.5vw;
  }

  .strong {
    font-family: MontserratBold, sans-serif;
    color: var(--accent);
  }

  .strongFloors {
    font-size: 7vw;
  }

  .strongApartments {
    font-size: 7vw;
  }

  .strongYear {
    font-size: 4vw;
  }

  .navigation {
    gap: 5vw;
    margin-top: 8vw;
  }

  .navBtn {
    width: 8vw;
    height: 8vw;
    color: white;
    cursor: pointer;
  }

  .cardNav {
    width: 10vw;
    height: 10vw;
  }

  .icon {
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 52%;
    transform: translate(-50%, -50%);
  }
}

@media (width <= 375px) {
  .swiper {
    min-height: 60vh;
  }

  .text {
    font-size: 3vw;
  }

  .runk,
  .address {
    font-size: 3vw;
  }

  .role {
    font-size: 3vw;
  }

  .strongFloors {
    font-size: 5vw;
  }

  .strongApartments {
    font-size: 5vw;
  }

  .navigation {
    margin-top: 5vw;
  }
}
