.faq {
  width: 100vw;
  height: 100vh;
  color: black;
  background-color: white;
}

.title {
  width: fit-content;
  padding: 1vw 4vw;
  margin: 2vw auto;
  border-bottom: 3px solid var(--accent);
  font-size: 2.1vw;
  font-weight: 700;
  text-align: center;
}

.tabWrapper {
  width: 90%;
  padding: 1.5vw 1.5vw 0;
  margin: 0 auto;
  margin-bottom: 1vw;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.tabTitleWrapper {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 20px;
}

.tabTitle {
  margin-bottom: 1.5vw;
  font-size: 1.5vw;
  font-weight: 700;
}

.tabDescription {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease;
}

.tabContent {
  font-size: 1.2vw;
  overflow: hidden;
}

.activeTab {
  color: var(--accent);
}

.open {
  grid-template-rows: 1fr;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-bottom: 2vw;
  font-size: 1.2vw;
  font-weight: 600;
}

.activeFilter {
  color: var(--accent);
}
