.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  z-index: 10;
}

.line {
  width: 2.5vw;
  height: 0.1vw;
  background-color: var(--secondaryColor);
}

.title {
  font-family: MontserratMedium, sans-serif;
  font-size: 1vw;
}

@media (width >= 768px) and (width <= 1024px) {
  .titleWrapper {
    gap: 10px;
  }

  .line {
    width: 25px;
    height: 1px;
  }

  .title {
    font-size: 15px;
  }
}

@media (width <= 767px) {
  .titleWrapper {
    gap: 10px;
  }

  .line {
    width: 25px;
    height: 1px;
  }

  .title {
    font-size: 15px;
  }
}
