.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5.5vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  color: var(--textColor);
  background-color: transparent;
  transition: all 0.5s ease;
}

.scrolled {
  background-color: rgb(0 0 0 / 70%);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(7px);
}

.logo {
  width: 3.3vw;
  height: 3.3vw;
  margin: 0.2vw 0;
  position: relative;
  z-index: 5;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: 1vw;
}

.menuItem {
  transition: color 0.3s ease;
}

.menuItem:hover {
  color: var(--accent);
}

@media (width >= 768px) and (width <= 1024px) {
  .logo {
    width: 60px;
    height: 60px;
    margin: 10px 0;
    position: relative;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 2vw;
    font-size: 18px;
  }

  .menuItem:hover {
    color: unset;
  }
}

@media (width <= 767px) {
  .logo {
    width: 40px;
    height: 40px;
    margin: 10px;
    position: relative;
  }

  .menuItem {
    display: none;
  }
}
