.about {
  width: 100%;
  height: 300vh;
  position: relative;
  color: var(--textColor);
  background: var(--backgroundGradient);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8vw;
  width: 80%;
  height: 100svh;
  padding: var(--containerPadding);
  margin: 0 auto;
}

.imageWrapper {
  width: 100%;
  height: 80%;
  border-radius: var(--borderRadius);
  overflow: hidden;
  place-self: center start;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.title {
  margin-top: 2vw;
  margin-bottom: 5vw;
  font-family: MontserratBold, sans-serif;
  font-size: var(--titleFontSize);
  line-height: 1;
}

.content {
}

.contentWrapper {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1vw 2vw;
  min-height: 50%;
  position: relative;
}

.line {
  width: 2px;
  height: 68%;
  position: absolute;
  top: 1.9vw;
  left: 0.75vw;
  z-index: 0;
  background-color: var(--accent);
}

.yearsWrapper {
  align-items: flex-end;
  padding: 3vw 0;
  top: 0;
}

.year {
  margin: 1vw 0;
  font-family: MontserratBold, sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
  color: var(--accent);
}

.role {
  margin-bottom: 0.3vw;
  font-family: MontserratBold, sans-serif;
  font-size: 1.2vw;
}

.text {
  font-family: MontserratRegular, sans-serif;
  font-size: 0.8vw;
  line-height: 1;
  color: #b2b2b2;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.dot {
  width: 100%;
  height: 100%;
  position: relative;
  place-self: start start;
}

.dotInner {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border: 0.1vw solid var(--accent);
  border-radius: 50%;
  position: absolute;
  top: 1.5vw;
  left: 0.8vw;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.dotOut {
  display: block;
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50%;
  position: absolute;
  top: 1.5vw;
  left: 0.8vw;
  transform: translate(-50%, -50%);
  background-color: var(--accent);
}

@media (width >= 768px) and (width <= 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 90%;
    padding: var(--containerPaddingTablet);
  }

  .title {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: var(--titleFontSizeTablet);
  }

  .year {
    margin: 3px 0;
    font-size: 15px;
  }

  .role {
    margin-bottom: 0.3vw;
    font-size: 20px;
  }

  .text {
    font-size: 15px;
  }

  .line {
    width: 2px;
    height: 68%;
    top: 12px;
    left: 10px;
  }

  .dotInner {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 11px;
  }

  .dotOut {
    width: 10px;
    height: 10px;
    top: 10px;
    left: 11px;
  }

  .imageWrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border-radius: var(--borderRadiusTablet);
  }
}

@media (width <= 767px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 8vw;
    width: 90%;
    padding: 18vw 0 10vw;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: var(--titleFontSizeMobile);
  }

  .year {
    margin: 3px 0;
    font-size: 12px;
  }

  .role {
    margin-bottom: 0.3vw;
    font-size: 15px;
  }

  .text {
    font-size: 12px;
  }

  .line {
    width: 2px;
    height: 68%;
    top: 12px;
    left: 10px;
  }

  .dotInner {
    width: 20px;
    height: 20px;
    top: 10px;
    left: 11px;
  }

  .dotOut {
    width: 10px;
    height: 10px;
    top: 10px;
    left: 11px;
  }

  .imageWrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border-radius: var(--borderRadiusMobile);
  }
}
