.advantages {
  width: 100%;
  height: 100vh;
  color: black;
  overflow: hidden;
}

.container {
  width: 80%;
  height: 100%;
  padding: var(--containerPadding);
  margin: 0 auto;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10vw;
  margin-top: 2vw;
}

.title {
  margin-bottom: 2vw;
  font-family: MontserratBold, sans-serif;
  font-size: var(--titleFontSize);
}

.subtitle {
  margin-bottom: 2vw;
  font-family: MontserratMedium, sans-serif;
  font-size: 1.4vw;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  width: 100%;
  height: 70%;
}

.cardItem {
  width: 100%;
  height: 100%;
}

@media (width >= 768px) and (width <= 1024px) {
  .advantages {
    height: fit-content;
  }

  .container {
    width: 90%;
    padding: var(--containerPaddingTablet);
  }

  .titleWrapper {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  .title {
    margin-bottom: 2vw;
    font-size: var(--titleFontSizeTablet);
  }

  .subtitle {
    margin-bottom: 2vw;
    font-size: 22px;
  }

  .cards {
    flex-direction: column;
  }

  .cardItem {
    height: 450px;
  }
}

@media (width <= 767px) {
  .advantages {
    height: fit-content;
  }

  .container {
    width: 90%;
    padding: var(--containerPaddingMobile);
  }

  .titleWrapper {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }

  .title {
    margin-bottom: unset;
    font-size: var(--titleFontSizeMobile);
  }

  .subtitle {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 70%;
  }

  .cardItem {
    height: 470px;
  }
}
